.main-container{
    width: var(--main-sections-width-pc);
    margin: var(--main-sections-margin-pc);
    box-shadow: var(--def-box-shadow-lg);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}
.container-heading{
    font-family: var(--font-main-heading);
    background-color: rgb(246, 246, 246);
    padding-bottom: 0.75rem;
    padding-top: 0.4rem;
    text-align: center;
    border-top: 2px solid rgb(211, 211, 211);
    border-bottom: 2px solid rgb(211, 211, 211);
}
.admin-buttons{
    display: flex;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 1rem;
    justify-content: space-around;
    background-color: rgb(246, 246, 246);
}
.admin-buttons button{
    padding: 1rem 1.5rem;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: rgb(93, 206, 140);
    font-size: 1.2rem;
    font-family: var(--font-main-heading);
    transition: all 0.2s ease-in;
}
.admin-buttons button:hover{
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.25);
    color: white;
    background-color: rgb(62, 138, 94);
    transform: translateY(-3px);
}
.content-section{
    padding-top: 1rem;
}
.section-stats{
    font-family: var(--font-content);
    background-color: rgb(200, 200, 200);
    font-weight: bold;
    padding: 0.5rem 0;
}
.section-stats span{
    font-weight: 200;
}
.card-collection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}
.user-card{
    display: flex;
    border-radius: 12px;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgb(246, 246, 246);
    gap: 1rem;
}
.user-card:hover{
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.25);
}
.user-options, .user-options form{
    display: flex;
    align-items: center;
}
#role-selector{
    font-weight: bold;
    border: none;
    margin-right: 0.5rem;
    padding: 0.35rem 0.5rem;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
#role-selector:focus{
    outline: none;
    background-color: rgb(253, 255, 203);
}
.user-name{
    font-size: 1.5rem;
}
.user-email{
    font-size: 1rem;
    color: rgb(103, 103, 103);
}
.utility-btns{
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.utility-btns p{
    padding-right: 0.25rem;
}
.search{
    border: 2px solid rgb(66, 149, 174);
}
.search:hover{
    background-color: rgb(66, 149, 174);
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.25);
}
.edit{
    border: 2px solid rgb(255, 197, 89);
}
.edit:hover{
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.25);
    background-color: rgb(255, 197, 89);
}
.delete{
    border: 2px solid rgb(255, 105, 105);
}
.delete:hover{
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.25);
    background-color: rgb(255, 105, 105);
}