.main-container{
    width: var(--main-sections-width-pc);
    margin: var(--main-sections-margin-pc);
    box-shadow: var(--def-box-shadow-lg);
    border-radius: 8px;
}
.container-heading{
    font-family: var(--font-main-heading);
    background-color: rgb(246, 246, 246);
    padding: 1rem;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.content-section{
    padding-top: 1rem;
}
.section-heading{
    font-family: var(--font-content);
}
.card-collection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}
.user-card{
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgb(246, 246, 246);
    gap: 1rem;
}
.user-card:hover{
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.25);
}
.user-details-container{
    display: flex;
    justify-content: space-between;
}
.user-role-section form{
    display: flex;
    align-items: center;
}
#role-selector{
    font-weight: bold;
    border: none;
    margin-right: 0.5rem;
    padding: 0.35rem 0.5rem;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
#role-selector:focus{
    outline: none;
    background-color: rgb(253, 255, 203);
}
.user-name{
    font-size: 1.5rem;
}
.user-email{
    font-size: 1rem;
    color: rgb(103, 103, 103);
}
.utility-btns{
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.utility-btns p{
    padding-right: 0.25rem;
}
.search{
    border: 2px solid rgb(66, 149, 174);
}
.search:hover{
    background-color: rgb(66, 149, 174);
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.25);
}
.edit{
    border: 2px solid rgb(255, 197, 89);
}
.edit:hover{
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.25);
    background-color: rgb(255, 197, 89);
}
.delete{
    border: 2px solid rgb(255, 105, 105);
}
.delete:hover{
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.25);
    background-color: rgb(255, 105, 105);
}