<% if(success && success.length) {%>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong><%= success %></strong>
    </div>
<% } %>
    
<% if(error && error.length) {%>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong><%= error %></strong>
    </div>
<% } %>
    
<% if(warning && warning.length) {%>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong><%= warning %></strong>
    </div>
<% } %>
    
<% if(info && info.length) {%>
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong><%= info %></strong>
    </div>
<% } %>