<footer class="footer-section row">
    <aside class="footer-columns col-lg-4 col-md-4 col-sm-12 col-12 py-sm-2 py-2">
        <p class="footer-header">About Us</p>
        <div class="footer-items">
            <a href="">Who are we?</a>
            <a href="">What we provides?</a>
            <a href="">Contact Us</a>
        </div>
    </aside>
    <aside class="footer-columns col-lg-4 col-md-4 col-sm-12 col-12 py-sm-2 py-2">
        <p class="footer-header">Join Us</p>
        <div class="footer-items">
            <a href="">Facebook</a>
            <a href="">Instagram</a>
            <a href="">Twitter</a>
        </div>
    </aside>
    <aside class="footer-columns col-lg-4 col-md-4 col-sm-12 col-12 py-sm-2 py-2">
        <p class="footer-header">Privacy Policy</p>
        <div class="footer-items">
            <a href="">Terms and Conditions</a>
            <a href="">Policies</a>
            <a href="">Certifications</a>
        </div>
    </aside>
</footer>