<nav class="navbar-container">
    <div class="navbar-left d-flex">
        <div class="main-logo">
            <img class="img-fluid" src="/static/images/logo_main.png" alt="">
            <h2>Foody Travellers</h2>
        </div>
        <div class="hamburger hide-burger">
            <img src="https://img.icons8.com/pastel-glyph/64/000000/circled-chevron-down.png" />
        </div>
    </div>
    <div class="navbar-right">
        <a href="/">
            <button class="btn account-btns">Home</button>
        </a>
        <div class="dropdown nav-drop-btn">
            <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                aria-expanded="false">
                <strong>Travel Zone</strong>
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">About</a></li>
                <li><a class="dropdown-item" href="#">Journey Planner</a></li>
                <li><a class="dropdown-item" href="#">Our Resources</a></li>
            </ul>
        </div>
            <Home></Home>
        <% if (typeof(user) === "undefined") { %>
            <a href="/user/login">
                <button id="login" class="btn account-btns">Login/Signup</button>
            </a>
        <% } else { %>
            <a>
                <button id="settings" class="btn account-btns">
                    <img src="https://img.icons8.com/material-outlined/24/000000/guest-male.png" />
                </button>
            </a>
        <a href="/user/logout">
            <button id="logout" class="btn account-btns">Logout</button>
        </a>
        <% } %> 
    </div>
</nav>