<main class="main-container">
    <img class="error-img" src="/static/images/accounts/errorPageImg.jpg" alt="">
    <div class="error-container">
        <h3 class="error-value"><%= error.status %></h3>
        <div class="error-description">
            <h1 class="text-center error-heading">We are lost in space</h1>
            <p class="error-message"><%= error.message %></p>
            <button id="backButton">&#8592; Let's go back</button>
        </div>
    </div>
</main>


<script>
    document.querySelector('#backButton').addEventListener('click', () => {
        window.history.go(-1)
    })
</script>