<% layout('layouts/boilerplate')%>

    <main class="home-page-banner-container">
        <div class="brand-heading-container">
            <h1 class="brand-heading">Welcome to <span>Foody Travelers</span></h1>
            <h4 class="brand-caption">Imaging tourism in a new way</h4>
        </div>
        <div class="description-container">
            <p class="description">
                Different areas of the world have so many new flavors and dishes that you would never even think of,
                there is always something fun to try. The possibilities are endless. A FOODIE person is who seeks new
                food experiences as a hobby rather than simply eating out of convenience or hunger.
            </p>
            <a href="/states">
                <button class="visit-states-btn">
                    <h5>Start Booking</h5>
                </button>
            </a>
        </div>
    </main>
    <section class="summary-container">
        <h2 class="summary-section-header">Say yes to new adventures, Book with us to see a new World</h2>
        <div class="summary-section">
            <div class="summary-card">
                <div class="summary-img">
                    <img src="/static/images/landing-page/travel.jpg" alt="">
                </div>
                <div class="summary-side">
                    <h5 class="summary-header">The finest in Travel</h5>
                    <p class="summary-details">Travel comfortably with your loved ones, as you wish to travel... Your
                        vehicle, your choice...
                    </p>
                </div>
            </div>
            <div class="summary-card">
                <div class="summary-img">
                    <img src="/static/images/landing-page/adventure.jpg" alt="">
                </div>
                <div class="summary-side">
                    <h5 class="summary-header">Adventure awaits, go find it</h5>
                    <p class="summary-details">This package provides you with a night camping experience at Popular
                        Spots in India with your loved ones, where you will enjoying adventure activities, waterfall
                        visits, and
                        trekking.</p>
                </div>
            </div>
            <div class="summary-card">
                <div class="summary-img">
                    <img src="/static/images/landing-page/food.jpg" alt="">
                </div>
                <div class="summary-side">
                    <h5 class="summary-header">Eat well Travel often</h5>
                    <p class="summary-details">The places we prefer vary according to our taste, culture and mood, along
                        with our experience and our first impression of the place.</p>
                </div>
            </div>
            <div class="summary-card">
                <div class="summary-img">
                    <img src="/static/images/landing-page/street-food.jpg" alt="">
                </div>
                <div class="summary-side">
                    <h5 class="summary-header">Best Possible Famous Foods</h5>
                    <p class="summary-details">Street Food isn’t just a passing fashion, it’s a new way of experiencing
                        the age-old relationship between a society and its food.</p>
                </div>
            </div>
        </div>
    </section>
    
    <section class="dev-credit-section">
        <h2 class="summary-section-header">Developer Credits<h2>
        <div class="dev-section">
            <div class="dev-card">
                <div class="dev-profile">
                    <img src="/static/images/developers/samay.jpg" alt="">
                </div>
                <div class="dev-details">
                    <h5 class="dev-name">Samay Joshi</h5>
                    <ul class="dev-work">
                        <li>Front-End</li>
                        <li>User Experience</li>
                        <li>Back-End</li>
                    </ul>
                </div>
            </div>
            <div class="dev-card">
                <div class="dev-profile">
                    <img src="/static/images/developers/prince.jpg" alt="">
                </div>
                <div class="dev-details">
                    <h5 class="dev-name">Prince Gupta</h5>
                    <ul class="dev-work">
                        <li>Designing</li>
                        <li>Front-End Development</li>
                        <li>UI/UX Designing</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <script>
        sessionStorage.clear();
    </script>