<main class="main-container">
    <div class="container-content">
        <h2 class="container-heading">About - Foody Travelers</h2>
        <p class="container-description">
            Tourism has turned out to be an economic booster contributing to the economic development of many countries over the last few decades. People see holidays as a necessity, and not as luxury in the present scenario. Tourism calls for coordination and cooperation between travel agents, tour operators, and tourists. Tourism has a few major elements − destinations, attractions, sites, accommodation, and all ancillary services.
            <br>The purpose of the Travel and Tourism Management System project is to create a system that automates travel processes and events and to build a system that enables all travel-related operations to be carried out. 
            <br>It involves the management of a multitude of activities such as studying tour destinations, planning the tour, making travel arrangements, and providing accommodation. It also involves marketing efforts to attract tourists to travel to particular destinations.
            We all love traveling. There’s sight-seeing, meeting new people, the ability to take shameless Segway tours, and let’s not forget about the endless amounts of Instagram posts. But the best part of all is the food. 
            <br>Different areas of the world have so many new flavors and dishes that you would never even think of, there is always something fun to try. The possibilities are endless. A FOODIE person is who seeks new food experiences as a hobby rather than simply eating out of convenience or hunger.
            As the name given to the project (FOODY TRAVELLERS), this project is made for the excited travelers who love to travel a lot, along with the passion to taste various varieties of popular foods from different places. This project combines the idea of both traveling and devouring the best and popular food available in the touring city. This project allows the user/traveler to decide the meal they want to eat at particular destination along with the meal provided with the package of tour.
        </p>
    </div>
    <img src="/static/images/site/AboutUs.jpg" alt="" class="container-img">
</main>