<main class="main-container">
    <div class="container-content">
        <h2 class="container-heading">Contact Us</h2>
        <form class="container-description">
            <label class="contact-label">Call us on : <span>+91 95666-32331</span></label>
            <p class="separator">OR</p>
            <label class="contact-label">Mail us on : <span>foodytravelers.support@yahoomail.com</span></label>
            <p class="separator">OR</p>
            <textarea name="" id="" cols="30" rows="5" placeholder="Enter query or feedback here"></textarea>
            <button class="btn btn-success mt-4">Submit</button>
        </form>
    </div>
    <img src="/static/images/site/contactUs.jpg" alt="" class="container-img">
</main>