<main class="main-container" style="background-color: rgb(138, 139, 195);">
    <div class="container-content">
        <h2 class="container-heading">Services - Foody Travelers</h2>
        <p class="container-description">
            <div class="lists"><span>&loz;</span><p>We developed this application to provide best travelling services to the customers and travel agents. We have developed tours and travel management system to provide a search platform where a tourist can find their tour places according to their choices along with the choice to have food options during booking and in between the tour.</p></div>
            <div class="lists"><span>&loz;</span><p>This system also helps to promote responsible and interesting tourism so that people can enjoy their holidays at their favorable places.</p></div>
            <div class="lists"><span>&loz;</span><p>This system also helps to develop tourism with different cultures so that they enrich the tourism experience.</p></div>
            <div class="lists"><span>&loz;</span><p>This system is Developed to create and promote forms of tourism that provide healthy interaction opportunities for tourists and locals and increase better understanding of different cultures. customs, lifestyles, traditional knowledge and believes. This system also provides a better way to connect with various events.</p></div>
            <div class="lists"><span>&loz;</span><p>Provide a high standard of services suitable for individuals seeking relaxing, comfortable and memorable experiences in the hospitality and tourism industry. </p></div>
            <div class="lists"><span>&loz;</span><p>Provide the tourist market with the quality personal required by the tourism industry. </p></div>
            <div class="lists"><span>&loz;</span><p>Produce expeditions and memories that would satisfy each and every single of the customers. </p></div>
            <div class="lists"><span>&loz;</span><p>Evaluate current cultural, economic, and social issues affecting the tourism and travel industry. </p></div>
            <div class="lists"><span>&loz;</span><p>Participate in both local and regional community service by providing general lectures, consultation, and training programs.</p></div>
            <div class="lists"><span>&loz;</span><p>This project combines the idea of both traveling and devouring the best and popular food available in the touring city.</p></div>
            <div class="lists"><span>&loz;</span><p>This project allows the user/traveler to decide the meal they want to eat at particular destination along with the meal provided with the package of tour.</p></div>
        </p>
    </div>
    <img src="/static/images/site/services.jpg" alt="" class="container-img">
</main>